@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*Zerando CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fundo da tela*/

html{
    height:100vh;
    font-family: 'Lato', sans-serif;
    font-size:62.5%;
    color: white;
}

body{
    background:url(../img/produt-barber.jpg);
    background-position: center center;
    background-size:cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

/* Menu - Header - NavBar */

header {
    padding: 5px 0;
    height: 7vw;
    background: rgba(22,22,22,0.2);   
}

.logo {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-itens a {
    text-decoration: none;
    color:white;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative;
}

.menu-content .list-itens a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width:0px;
    height: 1px;
    background-color: rgb(251, 255, 0);
    transition: all 1.5s ease;
}

.menu-content .list-itens a:hover:before {
    width:100%;
}

/* Centro - Conteudo Principal */

main {
    height: 60vh;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width:30%;
    height: 400px;
    vertical-align: top;
    margin:0 1.5%;
    padding: 30px 10px; 
    box-sizing: border-box;
    border: 2px solid white;
    border-radius:10px;

}

.produtos li:hover {
    border-color: #C78C19;
    
}

.produtos li:hover h2{
    font-size: 25px;
    color: #C78C19;
}

.produtos li:hover p{
    font-size: 20px;
    color: #C78C19;
}

.produtos li:active{
    border-color: #088C19;
}

.produtos li:active h2{
    font-size: 25px;
    color: #088C19;
}

.produtos li:active p{
    font-size: 20px;
    color: #088C19;
}

.produtos h2 {
    font-size: 20px;
    font-weight: bold;
}

.produtos img{
    border-radius:20px;
}

.produto-descricao {
 font-size:18px;  
}

.produto-preco{
    font-size:20px;
    font-weight: bold;
    margin-top: 10px;
}

/* Footer */

footer {
    text-align: center;
    box-sizing: border-box;
    height: 20vh;
}

.img-footer {
    margin-top:30px;
    height:100px;
}

.copyright {
    color: #FFFFFF;
    font-style: italic;
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
}


@media screen and (max-width:600px){

    html{
        height:100%;
    }

    body{
        background:url(../img/produt-barber.jpg);
        background-image: center;
        width:600px;
    }
    
    header{
        height: 7%;
    }

    main{
        height:50%;
    }
    .menu-content {
        font-size: 1rem;
        margin: 1rem;
    }

    .logo {
        font-size: 1.2rem;
        letter-spacing: 0.3rem;
    }

    .menu-content .list-itens a {
        padding: 1rem;
    }

    .produtos {
        width: 340px;
        margin: 0 auto;
        padding:5px;
    }
    .produtos li {
        display: block;
        width:100%;
        height: 400px;
        margin:2% 0;
    
    }

    footer {
        height:10%;
        width:100%;
        bottom: 0;
    }
    
    .img-footer {
        margin-top:3px;
        height:100px;
    }
    
    .copyright {
        color: #FFFFFF;
        font-style: italic;
        font-size: 13px;
        font-weight: bold;
        
    }
    
 }